.con1{
    margin-top: 80px;
}

.col1{
    margin-left: 90px;

}

.firstImage{
    margin-top: 80px;
    margin-left: 7px;
    width: 843px;
    height: 450px;
}

.secondImage{
    margin-top: 80px;
    height: 450px;
    width: 340px;
    margin-left: 7px;
}

h3{
    padding: 30px 0 8px;
    position: relative;
  }

h3::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0px;
    width: 70px;
    height: 2px;
    transform: skew(-12deg) translateX(-50%);
    background: black;
}

.card{
    border: 2px solid rgb(71, 71, 255);
}

.btn:hover{
    background-color: #00aeff;
    border: #00aeff;
}

.ProjectImage{
    height: 250px;
    width: 440px;
    margin-left: 20px;
    border-radius: 12px;
}

.navbar{
    background-color: black;
}

.icons{
    color:rgb(71, 71, 255);
}

.project1{
    width: 300px;
    height: 160px;
}

.info{
    margin-left: 123px;
}

.maps{
    margin-left: 113px;
}

.btn{
    margin-left: 120px;
}
